html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
}

#container{
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    grid-template-areas:
        "header"
        "content"
        "footer";
}

header{
    padding: 15px;
    grid-area: header;
}

header a{
    line-height: 20px;
}

input[type=submit]{
    cursor: pointer;
    margin-right: 5px;
    padding: 5px;
    padding-right: 12px;
    padding-left: 12px;
    border: 0px;
    background-color: rgb(243, 243, 243);
}

main{
    grid-area: content;
    margin-bottom: 20px;
    min-height: 200px;
}

footer{
    padding: 20px;
    margin-top: 5px;
    grid-area: footer;
    background-color: #e3e3e3;
    font-size: small;
    bottom: 0px;
    max-height: 100px;
}

footer a{
    color: rgb(51, 51, 51);
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
    align-content: center;
}

.justify-evenly{
    justify-content: space-evenly;
}

.justify-between{
    justify-content: space-between;
}

.header-link{
    margin-top: 5px;
}

.logo{
    width: 30%;
    max-width: 280px;
    height:auto;
    margin-top: 20px;
}
.logo:hover{
    cursor: pointer;
}

.self-center{
    align-self: center;
}

.icon:hover{
    box-shadow: 1px 1px 1px 7px rgba(60, 64, 67, 0.08);
    background: rgba(60, 64, 67, 0.08);
    border-radius: 15px;
}

.transparent{
    opacity: 0.7;
    margin-bottom: -3px;
    margin-left: 5px;
}

.inline{
    display: inline;
}

a{
    margin-left: 10px;
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

.no-under{
    text-decoration: none !important;
}

.search-elm{
    border: 1px solid #dcdcdc;
    border-radius: 20px;
    padding: 5px;
    min-width: 300px;
    width: 50vw;
}

.search-elm:hover, input[type=submit]:hover{
    box-shadow: 1px 1px 5px #dcdcdc;
}

.hidden-input{
    border: 0px;
    width: 85%;
    padding: 5px;
}

.hidden-input:focus{
    outline: none;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-left{
    justify-content: start;
}

.flex-right{
    justify-content: end;
}

.footer-center{
    top: 0px;
}

.margin-bottom{
    margin-bottom: 20px;
}

.blue-button{
    margin-left: 20px;
    cursor: pointer;
    margin-right: 5px;
    padding: 8px;
    padding-right: 20px;
    padding-left: 20px;
    border: 0px;
    border-radius: 5px;
    background-color: rgb(43, 125, 233); 
    color: white;  
}

.blue-button:hover{
    box-shadow: 1px 1px 1px rgb(53, 135, 253);
    background: rgb(53, 135, 253);
}

.padded{
    padding: 5px;
}